	<section class="container bg-info">

  		<div class="row">
			<div class="assignment-body col-8 p-3">
				<div class="card text-dark bg-info mb-3 assignment-card" style="max-width: 100%;">
				  <h1 class="card-header"><%= @assignment.title %> --by <%= @assignment.user.username %></h1>
				  <div class="card-body">
				    <p class="card-text"><%= @assignment.body %></p>
				  </div>
          <div class="card-footer">
          <span>Say Something</span> <span>Attach</span>
					  <button>Submit</button>
          </div>
				</div>
				<div class="card text-dark bg-info mb-3 assignment-card" style="max-width: 100%;">
				  <h3 class="card-header">Who submitted assignment.</h3>
				  <div class="card-body">
				    <ol>
            <% @assignment.attachfiles.each do |attachfile| %>
                <li><%= attachfile.user.username %> <%= attachfile.title %>
                <%= link_to "See file", attachfile.file %></li>
              <% end %>
				    </ol>
				  </div>
				</div>
			</div>
			<div class="discussion col-4 p-3 bg-info">
				<div class="card text-dark bg-info mb-1 assignment-card-discussion" style="max-width: 100%;">
				  <h4 class="card-header">Discussions</h4>
          <% @assignment.discussions.each do |discussion| %>
            <div class="card-body">
              <small class="card-text m-0 p-0">"<%= discussion.body %>"</small>
              <p class="d-flex justify-content-end m-0 p-0">---<%= discussion.user.username %></p>
              <hr>
            </div>
          <% end %>
          
          <%= form_with model: [ @assignment, @assignment.discussions.build ] do |form| %>
            <p>
              <%= form.text_area :body %>
            </p>
            <p>
              <%= form.submit %>
            </p>
          <% end %>
				</div>
			</div>
		</div>
	</section>



<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @assignment.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @assignment.user.username %>
</p>
<% if current_user == @assignment.user %>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Delete', assignment_path(@assignment), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% elsif current_user && current_user.admin %>
<%= link_to 'Delete', assignment_path(@assignment), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<h2>Attachment about this Assignment</h2>
<% @assignment.attachfiles.each do |attachfile| %>
  <p><%= attachfile.user.username %> <small>said in attachment</small> "<%= attachfile.title %>"</p>
  <%= link_to "See file", attachfile.file %>
<% end %>


<h3>Say something about this assignment</h3>
<%= form_with model: [ @assignment, @assignment.attachfiles.build ] do |form| %>
  
  <p>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.file_field :file %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>



<%= link_to 'Back', assignments_path %>
